@font-face {
    font-family: 'BMKkubulim';
    src: url('fonts/BMKkubulimTTF.ttf') format('truetype');
}
@font-face {
    font-family: 'GmarketSansTTFBold';
    src: url('fonts/GmarketSansTTFBold.ttf') format('truetype');
}
@font-face {
    font-family: 'GmarketSansTTFLight';
    src: url('fonts/GmarketSansTTFLight.ttf') format('truetype');
}
@font-face {
    font-family: 'GmarketSansTTFMedium';
    src: url('fonts/GmarketSansTTFMedium.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('IMG_0207.png');
    background-color: black;
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: darken;
    animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    animation: slideIn 0.5s ease-in-out;
}
@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.main_buttons {
    display: grid;
    font-size: 1.8em;
    letter-spacing: 0.2em;
    font-family: 'GmarketSansTTFLight', Arial, sans-serif;
}
.main_button {
    padding: 20px;
    transition: transform 0.3s;
    text-align: center;
    border: 1px solid transparent;
    color: white;
    animation: buttonFadeIn 1s ease-in-out;
}
@keyframes buttonFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.main_button:hover {
    transform: scale(1.2);
}
.title {
    text-align: center;
    font-family: 'BMKkubulim', Arial, sans-serif;
    font-size: 7em;
    color: white;
    animation: wiggle 3s infinite, titleFadeIn 1s ease-in-out;
}
@keyframes wiggle {
    0%, 100% {
        transform: rotate(-3deg);
    }
    50% {
        transform: rotate(3deg);
    }
}
@keyframes titleFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.small_title {
    font-size: 0.2em;
    color: #9dcd17;
    animation: fadeIn 1s ease-in-out;
}
footer {
    position: absolute;
    width: 95%;
    bottom: 0;
    color: white;
    font-size: 0.8em;
    text-align: right;
    animation: fadeIn 1s ease-in-out;
}
@media (max-width: 768px) {
    .title {
        font-size: 4em;
    }
    .main_buttons {
        font-size: 1.2em;
    }
    .container {
        width: 90%;
    }
}
